<launch>

    <!-- DOPE to object_pose_msgs converter-->
    <include file="$(find pose_selector)/launch/dope_converter.launch"/>

    <!-- Pose selector -->
    <!-- Remap pose_selector subscriber to dope converter output -->
    <remap from="/mobipick/eef_main_cam/rgb/logical_image" to="/dope_converter_poses"/>
    <include file="$(find pose_selector)/launch/pose_selector.launch"/>

</launch>
