<launch>
    <arg name="objects_of_interest" value="[]"/>
    <arg name="config_file" value="test_config.yaml"/>

    <node pkg="pose_selector" type="pose_selector_node" name="pose_selector_node" output="screen">
        <rosparam command="load" file="$(find pose_selector)/config/$(arg config_file)" />
        <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
    </node>
    
</launch>